.spacer{
    margin-top: 5px;
    margin-bottom: 5px;
}

.button_spacer{
    margin-top: 2px;
    margin-bottom: 2px;
}

.row.special .panel-body{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form-control.spec{
    font-weight: bold;
}